<%= form_for(@pit_category) do |f| %>
  <% if @pit_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pit_category.errors.count, "error") %> prohibited this pit_category from being saved:</h2>

      <ul>
      <% @pit_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pit_form_id %><br>
	<%= f.collection_select :pit_form_id, PitForm.order(:name), :id, :name, {prompt: "Select a Form"}, {} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
