<h1>Listing match_form_data</h1>

<table>
  <thead>
    <tr>
      <th>Match form</th>
      <th>Match</th>
      <th>Competition team</th>
      <th>Scouter</th>
      <th>Form comments</th>
      <th>Filename</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_form_data.each do |match_form_datum| %>
      <tr>
        <td><%= match_form_datum.match_form.name %></td>
        <td><%= match_form_datum.match.number %></td>
        <td><%= match_form_datum.competitions_team.name %></td>
        <td><%= match_form_datum.scouter.name %></td>
        <td><%= match_form_datum.form_comments %></td>
        <td><%= match_form_datum.filename %></td>
        <td><%= match_form_datum.notes %></td>
        <td><%= link_to 'Show', match_form_datum %></td>
        <td><%= link_to 'Edit', edit_match_form_datum_path(match_form_datum) %></td>
        <td><%= link_to 'Destroy', match_form_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match form datum', new_match_form_datum_path %>
