<%= form_for(@match_form) do |f| %>
  <% if @match_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match_form.errors.count, "error") %> prohibited this match_form from being saved:</h2>

      <ul>
      <% @match_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Form Name"%><br>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :match_categories do |builder| %>
  	<%= render "match_category_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Category", f, :match_categories %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
