<h1>Listing match_forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Competition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_forms.each do |match_form| %>
      <tr>
        <td><%= match_form.name %></td>
        <td><%= match_form.competition %></td>
        <td><%= link_to 'Show', match_form %></td>
        <td><%= link_to 'Edit', edit_match_form_path(match_form) %></td>
        <td><%= link_to 'Destroy', match_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match form', new_match_form_path %>
