<%= form_for(@pit_form_lineitem) do |f| %>
  <% if @pit_form_lineitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pit_form_lineitem.errors.count, "error") %> prohibited this pit_form_lineitem from being saved:</h2>

      <ul>
      <% @pit_form_lineitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :pit_category_id %><br>
	<%= f.collection_select :pit_category_id, PitCategory.order(:name), :id, :name, {prompt: "Select a Category"}, {} %>
  </div>
  <div class="field">
    <%= f.label :column_name %><br>
    <%= f.text_field :column_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
