<h1>Listing pit_form_lineitems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Pit category</th>
      <th>Column name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pit_form_lineitems.each do |pit_form_lineitem| %>
      <tr>
        <td><%= pit_form_lineitem.name %></td>
        <td><%= pit_form_lineitem.data_type %></td>
        <td><%= pit_form_lineitem.pit_category.name %></td>
        <td><%= pit_form_lineitem.column_name %></td>
        <td><%= link_to 'Show', pit_form_lineitem %></td>
        <td><%= link_to 'Edit', edit_pit_form_lineitem_path(pit_form_lineitem) %></td>
        <td><%= link_to 'Destroy', pit_form_lineitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pit form lineitem', new_pit_form_lineitem_path %>
