<%= form_for(@pit_lineitem) do |f| %>
  <% if @pit_lineitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pit_lineitem.errors.count, "error") %> prohibited this pit_lineitem from being saved:</h2>

      <ul>
      <% @pit_lineitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pit_form_lineitem_id %><br>
	<%= f.collection_select :pit_form_lineitem_id, PitFormLineitem.order(:name), :id, :name, {prompt: "Select the Form's Lineitem"}, {} %>
  </div>
  <div class="field">
    <%= f.label :pit_form_data_id %><br>
	<%= f.collection_select :pit_form_data_id, PitFormData.all, :id, :name, {prompt: "Select a competition/team"}, {} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
