<p id="notice"><%= notice %></p>

<p>
  <strong>Pit form lineitem:</strong>
  <%= @pit_lineitem.pit_form_lineitem.name %>
</p>

<p>
  <strong>Pit form data:</strong>
  <%= @pit_lineitem.pit_form_datum.name %>
</p>

<%= link_to 'Edit', edit_pit_lineitem_path(@pit_lineitem) %> |
<%= link_to 'Back', pit_lineitems_path %>
