<%= form_for(@match_lineitem) do |f| %>
  <% if @match_lineitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match_lineitem.errors.count, "error") %> prohibited this match_lineitem from being saved:</h2>

      <ul>
      <% @match_lineitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_form_lineitem_id %><br>
	<%= f.collection_select :match_form_lineitem_id, MatchFormLineitem_id.all, :id, :name, {prompt: "Select a Form Lineitem"}, {} %>
  </div>
  <div class="field">
    <%= f.label :match_form_data_id %><br>
	<%= f.collection_select :match_form_data_id, MatchFormData.all, :id, :name, {prompt: "Select a Form Data"}, {} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
