<p id="notice"><%= notice %></p>
<p>
  <strong>Match form lineitem:</strong>
  <%= @match_lineitem.match_form_lineitem.name %>
</p>

<p>
  <strong>Match form data:</strong>
  <%= @match_lineitem.match_form_datum.name %>
</p>

<%= link_to 'Edit', edit_match_lineitem_path(@match_lineitem) %> |
<%= link_to 'Back', match_lineitems_path %>
