<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @match_form_lineitem.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @match_form_lineitem.type %>
</p>

<p>
  <strong>Match category:</strong>
  <%= @match_form_lineitem.match_category %>
</p>

<p>
  <strong>Column name:</strong>
  <%= @match_form_lineitem.column_name %>
</p>

<%= link_to 'Edit', edit_match_form_lineitem_path(@match_form_lineitem) %> |
<%= link_to 'Back', match_form_lineitems_path %>
