<p id="notice"><%= notice %></p>

<p>
  <strong>Data type:</strong>
  <%= @datum.data_type %>
</p>

<p>
  <strong>Form data:</strong>
  <%= @datum.form_data %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
