<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @match.number %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @match.competition %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
