<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @form_datum.form %>
</p>

<p>
  <strong>FileName:</strong>
  <%= @form_datum.filename %>
</p>

<p>
  <strong>Match number:</strong>
  <%= @form_datum.match.number %>
</p>

<p>
  <strong>Team:</strong>
  <%= @form_datum.team %>
</p>

<p>
  <strong>Scouter:</strong>
  <%= @form_datum.scouter %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @form_datum.comments %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @form_datum.notes %>
</p>

<%= link_to 'Edit', edit_form_datum_path(@form_datum) %> |
<%= link_to 'Back', form_data_path %>
