<p id="notice"><%= notice %></p>

<p>
  <strong>Pit form:</strong>
  <%= @pit_form_datum.pit_form.name %>
</p>

<p>
  <strong>Competition team:</strong>
  <%= @pit_form_datum.competitions_team.name %>
</p>

<p>
  <strong>Scouter:</strong>
  <%= @pit_form_datum.scouter.name %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @pit_form_datum.filename %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pit_form_datum.notes %>
</p>

<%= link_to 'Edit', edit_pit_form_datum_path(@pit_form_datum) %> |
<%= link_to 'Back', pit_form_data_path %>
