<h1>Listing pit_forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pit_forms.each do |pit_form| %>
      <tr>
        <td><%= pit_form.name %></td>
        <td><%= link_to 'Show', pit_form %></td>
        <td><%= link_to 'Edit', edit_pit_form_path(pit_form) %></td>
        <td><%= link_to 'Destroy', pit_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pit form', new_pit_form_path %>
