<%= form_for(@pit_lineitem_value) do |f| %>
  <% if @pit_lineitem_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pit_lineitem_value.errors.count, "error") %> prohibited this pit_lineitem_value from being saved:</h2>

      <ul>
      <% @pit_lineitem_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pit_form_lineitem_id %><br>
    <%= f.text_field :pit_form_lineitem_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
